.i {
  background-color: #ffffcc; }

.j {
  color: #999; }

.k {
  color: #AA0000;
  background-color: #FFAAAA; }

.l {
  color: #006699; }

.m {
  color: #555555; }

.n {
  color: #999; }

.o {
  color: #009999; }

.p {
  color: #999; }

.q {
  color: #999; }

.r {
  background-color: #FFCCCC;
  border: 1px solid #CC0000; }

.s {
  font-style: italic; }

.t {
  color: #FF0000; }

.u {
  color: #003300; }

.v {
  background-color: #CCFFCC;
  border: 1px solid #00CC00; }

.w {
  color: #AAAAAA; }

.x {
  color: #000099; }

.y {
  color: #003300; }

.z {
  color: #99CC66; }

.aa {
  color: #006699; }

.ab {
  color: #006699; }

.ac {
  color: #006699; }

.ad {
  color: #006699; }

.ae {
  color: #006699; }

.af {
  color: #007788; }

.ag {
  color: #FF6600; }

.ah {
  color: #d44950; }

.ai {
  color: #4f9fcf; }

.aj {
  color: #336666; }

.ak {
  color: #00AA88; }

.al {
  color: #336600; }

.am {
  color: #9999FF; }

.an {
  color: #999999; }

.ao {
  color: #CC0000; }

.ap {
  color: #CC00FF; }

.aq {
  color: #9999FF; }

.ar {
  color: #00CCFF; }

.as {
  color: #2f6f9f; }

.at {
  color: #003333; }

.au {
  color: #000000; }

.av {
  color: #bbbbbb; }

.aw {
  color: #FF6600; }

.ax {
  color: #FF6600; }

.ay {
  color: #FF6600; }

.az {
  color: #FF6600; }

.ba {
  color: #CC3300; }

.bb {
  color: #CC3300; }

.bc {
  color: #CC3300;
  font-style: italic; }

.bd {
  color: #CC3300; }

.be {
  color: #CC3300; }

.bf {
  color: #CC3300; }

.bg {
  color: #AA0000; }

.bh {
  color: #CC3300; }

.bi {
  color: #33AAAA; }

.bj {
  color: #CC3300; }

.bk {
  color: #FFCC33; }

.bl {
  color: #336666; }

.bm {
  color: #003333; }

.bn {
  color: #003333; }

.bo {
  color: #003333; }

.bp {
  color: #FF6600; }

.bq .m,
.bq .m + .as,
.bq .as + .as {
  color: #999; }

.br {
  padding: 15px;
  margin: 15px -15px;
  background-color: #f5f5f5; }
  @media (min-width: 576px) {
    .br {
      padding: 20px;
      margin-right: 0;
      margin-left: 0;
      margin-bottom: 20px;
      border: 1px solid #e5e5e5;
      border-radius: 3px; } }
  .br pre {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    background-color: transparent;
    border: 0; }
  .br pre code {
    font-size: inherit;
    color: #51586a; }

@media (min-width: 576px) {
  .bs + .br {
    border-width: 0 1px 1px;
    border-radius: 0 0 3px 3px; } }

body {
  overflow-x: hidden;
  padding-bottom: 40px; }

.bt {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-bottom: 30px;
  font-size: 20px;
  color: #fff;
  background-color: #1997c6;
  background-image: -webkit-linear-gradient(top, #106382, #1997c6);
  background-image: linear-gradient(to bottom, #106382, #1997c6); }
  .bt h1 {
    margin-bottom: 5px;
    font-size: 40px;
    line-height: 1; }
  .bt p {
    font-weight: 300;
    line-height: 1.4;
    color: #88d4f0; }
  @media (min-width: 576px) {
    .bt {
      font-size: 24px; }
      .bt h1 {
        font-size: 60px; } }
  @media (min-width: 992px) {
    .bt h1,
    .bt p {
      max-width: 75%; } }

#contents {
  display: none; }

#markdown-toc {
  padding-left: 0;
  margin-top: 30px;
  font-size: 13px;
  list-style: none; }
  #markdown-toc a {
    display: block;
    padding: 2px 10px 2px 10px; }
    #markdown-toc a:hover {
      text-decoration: none; }
  #markdown-toc > li {
    margin-bottom: 5px; }
  #markdown-toc > li:first-child {
    display: none; }
  #markdown-toc ul {
    list-style: none;
    padding-left: 20px; }
    #markdown-toc ul ul {
      display: none; }
  @media (min-width: 576px) {
    #markdown-toc {
      float: right;
      width: 220px;
      margin-right: -250px; }
      #markdown-toc a {
        color: #6f7890;
        padding-left: 20px; }
      #markdown-toc ul {
        display: none; }
      #markdown-toc .active + ul {
        display: block; }
      #markdown-toc .active {
        padding-left: 18px;
        color: #1997c6;
        background-color: transparent;
        border-left: 2px solid #1997c6; }
      #markdown-toc.affix {
        top: 0; } }

.docs-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  display: none;
  padding: 6px 12px;
  font-size: 14px;
  background-color: #1a1c22; }
  .docs-top:hover, .docs-top:focus {
    text-decoration: none; }
  @media (min-width: 576px) {
    .docs-top {
      display: block; } }

.bu {
  margin-bottom: 20px;
  font-size: 20px; }
  .bu .bv {
    padding: 5px; }

@media (min-width: 576px) {
  .bw .bx {
    padding-right: 30px;
    padding-left: 30px;
    margin-right: -15px;
    margin-left: -15px;
    border-radius: 0; } }

.docs-content {
  font-size: 16px; }
  .docs-content > h1 {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid white; }
    .docs-content > h1 + p {
      margin-bottom: 20px;
      font-size: 1rem;
      font-weight: 300;
      line-height: 1.5; }
      @media (min-width: 576px) {
        .docs-content > h1 + p {
          font-size: 1.35rem; } }
  @media (min-width: 576px) {
    .docs-content {
      padding-right: 265px; } }

.bs {
  position: relative;
  padding: 20px;
  margin: 20px -15px;
  font-size: 14px;
  border: 1px solid #e5e5e5;
  background: #fff; }
  .bs::after {
    display: block;
    content: "";
    clear: both; }
  .bs + .br {
    margin-top: -20px; }
  @media (min-width: 576px) {
    .bs {
      margin-left: 0;
      margin-right: 0;
      border-radius: 3px 3px 0 0; } }
  .bs + p {
    margin-top: 30px; }
  .bs > *:last-child {
    margin-bottom: 0; }
  .bs .bw {
    width: auto; }
  .bs > .dropdown-menu:first-child {
    position: static;
    display: block; }
  .bs > .by {
    max-width: 300px; }
  @media (min-width: 576px) {
    .bs .bz {
      display: inline-block;
      margin: 5px; } }
  .bs.ca {
    background-color: #fafafa; }
  .bs .cb {
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    z-index: 1;
    display: block; }
  .bs .modal-dialog {
    left: auto;
    margin-right: auto;
    margin-left: auto; }
  .bs .cc {
    max-width: 90%; }
  .bs.cd {
    text-align: center; }
  .bs.cd > .ce {
    margin-top: 5px;
    margin-bottom: 5px; }
  .bs.cf .tooltip {
    position: relative;
    display: inline-block;
    margin: 10px 20px;
    opacity: 1; }
  .bs.cg {
    padding-bottom: 24px;
    background-color: #f9f9f9; }
  .bs.cg .popover {
    position: relative;
    display: block;
    float: left;
    width: 260px;
    margin: 20px; }
  .bs > .ce {
    margin-top: 5px;
    margin-bottom: 5px; }

.docs-top,
#markdown-toc a {
  color: #9198aa; }
  .docs-top:hover,
  #markdown-toc a:hover {
    color: #fff; }

.bs {
  background-color: transparent;
  border-color: #434857; }
  .bs.ca, .bs.cg {
    background-color: rgba(0, 0, 0, 0.1); }

.br {
  background-color: #1a1c22;
  border: 0; }
  .br pre code {
    color: #999; }

.bs .ch {
  position: relative !important; }

.docs-content > h2,
.docs-content > h1 {
  margin-top: 50px; }

.docs-content > h1 + h2 {
  margin-top: 10px; }
