@charset "utf-8";

body {
    border: 0;
}

.index-page {
    padding: 120px 20px 0;
}

h1, h2, h3 {
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #292b2c;
}

a:active, a:focus, a:hover {
    text-decoration: none;
    color: #eb5055;
}
