@charset "utf-8";
/* CSS Document */

.page h1{
    font-size: 21px;
}
.page h2{
    font-size: 19px;
}

.page h3{
    font-size: 17px;
}


a{
    text-decoration: none;
    color: #292b2c;
}
a:active, a:focus, a:hover {
    text-decoration: none;
    color: #eb5055;
}

.post-content pre code{
    line-height: 20px;
    margin: 0;
    padding: 1.3em;
    color: #313131;
    background-color: #f7f7f7;
}